/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*--------------------------------------Our Stuff--------------------------------------*/

body {
  background: #FFF;
  color: #000;
  font-family: 'Raleway', sans-serif;
  padding: 0px;
  margin: 0px;
}

h2 {
	display: inline;
	padding: 20px;
}

textarea {
	margin: auto auto;
	width: 80%;
	height: 300px;
	font-family: 'Inconsolata', sans-serif;
}

#title{
	position: absolute;
	font-size: 20px;
	font-weight: bold;
}

#titlebar{
	background: #8497a9;
	padding: 0px 10px;
	margin: 0px 0px;
	position: fixed;
	top: 0px;
	width: 100%;
	height: 30px;
	box-shadow: 0 0px 5px 0px black;
	
	z-index: 1;
	/*border-top: 1px solid #FFF;*/
}

#file_select {
	position: absolute;
	top: 30px;
	background-color: white;
	width: 100%;
	height: 100%;
	z-index: 15;
}

#content{
	position: relative;
	background-color: #FFF;
	padding: 0px;
  	margin-top: 30px;
  	width: 100%;
  	height: 100%;
  	z-index: 0;
}

#myCanvas {
	width: 100%;
	height: 500px;
	/*border: 1px solid #000;*/
}

#lpanel{
	background-color: #FF0000;
	float: left;
	padding-top: 8px;
	width: 30%;
    height: 100%;
}

#rpanel{
	background-color: #9999FF;
	float: left;
	padding-top: 8px;
    width: 70%;
    height: 100%;
}

#editor_area{
	margin-top: 12px;
}

#info_area{
	margin-top: 12px;
}

#login_div {
	position: absolute;
	background-color: white;
	top:30px;
	height: 100%;
	width:100%;
	z-index: 10;
}

.clear{
    clear:both;
}